# backup, swap files etc.:
.*.swp

# android project:
gojabz-android/bin
gojabz-android/gen

# appengine project:
gojabz-appengine/test-classes
gojabz-appengine/.gwt/.gwt-log
gojabz-appengine/gwt-unitCache
gojabz-appengine/war/WEB-INF/classes
# gojabz-appengine/war/WEB-INF/lib
gojabz-appengine/war/WEB-INF/deploy
gojabz-appengine/.cache

# ios project:

