<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.gojabz.server.GreetingServiceImpl</servlet-class>
  </servlet>

    <servlet>
    <servlet-name>owTestServlet</servlet-name>
    <servlet-class>com.gojabz.server.OwTestService</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>owTestScalaServlet</servlet-name>
    <servlet-class>com.gojabz.server.OwTestScalaService</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gojabz_appengine/greet</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
    <servlet-name>owTestServlet</servlet-name>
    <url-pattern>/gojabz_appengine/owtest</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>owTestScalaServlet</servlet-name>
    <url-pattern>/gojabz_appengine/owtestscala</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gojabz_appengine.html</welcome-file>
  </welcome-file-list>

</web-app>
